# Fichiers Terraform locaux
.terraform/
.terraform.lock.hcl

# Fichiers d'état Terraform
*.tfstate
*.tfstate.*

# Fichiers de variables sensibles
*.auto.tfvars
secret.tfvars
*.tfvars.json

# Fichiers de crash Terraform
crash.log
crash.*.log

# Fichiers de plan Terraform
*.tfplan
*_plan.out

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Fichiers d'environnement
.env
.env.*

# Fichiers système
.DS_Store
Thumbs.db